
{% block title %}{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
{% include 'staff/applicant_search.html' %}
<div>
    <h3 class="text-center">
        <b>General Reports</b>
    </h3>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card card-signin my-2">
                    <div class="card-body">
                        <h5><span class="text-warning">Number of Applications per month</span></h5>
                        <select name="month" class="datefield month" id="selectMonth">
                            <option value="1" {% if selected_month == 1 %}selected{% endif %}>Jan</option>
                            <option value="2" {% if selected_month == 2 %}selected{% endif %}>Feb</option>
                            <option value="3" {% if selected_month == 3 %}selected{% endif %}>Mar</option>
                            <option value="4" {% if selected_month == 4 %}selected{% endif %}>Apr</option>
                            <option value="5" {% if selected_month == 5 %}selected{% endif %}>May</option>
                            <option value="6" {% if selected_month == 6 %}selected{% endif %}>Jun</option>
                            <option value="7" {% if selected_month == 7 %}selected{% endif %}>Jul</option>
                            <option value="8" {% if selected_month == 8 %}selected{% endif %}>Aug</option>
                            <option value="9" {% if selected_month == 9 %}selected{% endif %}>Sep</option>
                            <option value="10" {% if selected_month == 10 %}selected{% endif %}>Oct</option>
                            <option value="11" {% if selected_month == 11 %}selected{% endif %}>Nov</option>
                            <option value="12" {% if selected_month == 12 %}selected{% endif %}>Dec</option>
                        </select>
                        <p style="font-size: 17px">{{count}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const selectMonth = document.getElementById('selectMonth')
    selectMonth.addEventListener('change', () => {
        const month = Number(selectMonth.value)
        const url = `/applicants/${month}`
        window.location.href = url
    })

</script>

{% endblock body %}

