<!--Display the details of the job-->
<!--Staff have buttons to view candidate list,selected lis,edit jobs, search relevant applicant-->
{% extends 'base.html' %}
{% block title %}Staff Job Details{% endblock %}
{% load static %}
{% block body %}
<br /><br />
<div class="container">
    {% if request.user == job.staff %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3>
                        <b>{{job.title}} ({{job.job_type}})</b>
                    </h3>
                    <p style="font-size: 18px">{{job.company}}, {{job.location}} </p>
                    
                    <hr my-2 />
                    <span style="font-size: 18px"><b>Job Description</b></span>
                    <p style="white-space: pre-wrap; font-size: 16px">
                        {{ job.description }}
                    </p>
                    <hr my-2 />
                    <p><b class="mr-2">Skills Required:</b>{{job.skills_req}}</p>

                    {% if not job.link %}
                    <a class="btn btn-info btn-lg mr-2" href="{% url 'candidate-list' job.slug %}"><b>Candidates List</b></a>
                    <a class="btn btn-success btn-lg mr-2" href="{% url 'selected-list' job.slug %}"><b>Selected List</b></a>
                    {% endif %}
                    <a class="btn btn-warning btn-lg mr-2" href="{% url 'edit-job-post' job.slug %}"><b>Edit Job Post</b></a>
                    <a class="btn btn-danger btn-lg" href="{% url 'job-applicant-search' job.slug %}"><b>Search Relevant Applicants</b></a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="text-center">Sorry you do not have access to this page!</h3>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}