{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% block body %}
<div class="sidebar" style="width:20%">
    <header><h4>Job Seeker</h4></header>
    <a class="active" a href="{% url 'home' %}"><i class="fas fa-home"></i>Home</a>
    <a class="active" a href="{% url 'add-job' %}"><i class="fas fa-sliders-h"></i>Add Job Post</a>
    <a class="active" a href="{% url 'job-list' %}"><i class="fas fa-stream"></i>Manage Jobs</a>
    <a class="active" a href="{% url 'search-applicant' %}"><i class="fas fa-question-circle"></i>Search Applicant</a>
    <a class="active" a href="#"><i class="fas fa-question-circle"></i>Relevant Applicant</a>
   
    
</div>
<section>
</section>
{% endblock %}