* {
    margin: 0;
    padding: 0;
}


.homepage{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url("../img/15.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 140vh;
}

body{
    /* background-color:rgba(185, 135, 8, 0.5); */
    background-color: rgba(14, 92, 116, 0.534);
    font-family: "Lato";
    font-size: 20px;
    margin: 0;
    padding: 0 0 4rem;
    position: relative;
}
/* sidbarbar navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:rgba(0, 0, 0, 0.247);
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* sidebar links */
.sidebar a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
}

/* active/current link */
.sidebar a.active {
    /* background-color: #555;  */
    color: white;
}

/* link on mouse-over */
.sidebar a:hover:not(.active) {
    /* background-color: #555; */
    color: white;
}
 
/* staff page  styles */
.banner{
    display:flex;
    margin-top: 80px;
}
.left-column,.right-column{
    flex-basis: 50%;

}
.right-column img{
    width:100%;
}