{% extends 'base.html' %}
{% block title %}Applicant Page{% endblock %}
{% load static %}
{% block body %}
{% include 'applicant/side_bar_applicant.html' %}
<section class="section-start p-5">
    <div class="container text-center">
        <h2 class="mb-5">Get Your Next Job Here</h2>
        <p class="mb-3"><h4>Let us help you choose a job that suits your
        needs, all for free!</h4>
        <h4>What are you waiting for? Get started today!</h4>
    </p>
        <a role="button" class="btn btn-primary" href="{% url 'my-profile' %}">Get Job Now</a>
    </div>
</section>
{% endblock %}

