{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% block body %}
<div class="sidebar" style="width:20%">
    <header><h4>Job Seeker</h4></header>
    <a class="active" a href="{% url 'home' %}"><i class="fas fa-home"></i>Home</a>
    <a class="active" a href="{% url 'my-profile' %}"><i class="fas fa-user"></i>My Profile</a>
    <a class="active" a href="{% url 'posted-jobs' %}"><i class="fas fa-stream"></i>Jobs</a>
    <a class="active" a href="#"><i class="fas fa-envelope"></i>Relevant Jobs</a>
</div>
<section>
</section>
{% endblock %}
