{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% block body %}
<input type="checkbox"id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>My App</header>
    <ul>
        <li><a href= "#"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="#"><i class="fas fa-user"></i>My Profile</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i>Relevant Jobs</a></li>
        
    </ul>
</div>
<section>

</section>
{% endblock %}