{% extends 'base.html' %}
{% block title %}Contact us {% endblock %}
{% load static %}
{% block body%}
<!--Contact-->
    <section class="section-content section-contact bg-light" id="sectionContact">
        <div class="container container-small">
            <h4 class="section-title">
                <span class="text-info">Get in Touch with us</span>
            </h4>
    
            <div class="row row-cols-1 row-cols-md-2 g-5">
                <div class="col col-md-5">
                    <p class="footer-text mb-4">
                        Please get in touch and our expert support team will answer all
                        your questions.
                    </p>
                    <div class="footer-address">
                        <p class="align-items-center gap-md">
                            <i class="fa-solid fa-location-dot text-primary"></i>
                            Nairobi, Kenya
                        </p>
                        <p class="align-items-center gap-md">
                            <i class="fa-solid fa-phone text-primary"></i>
                            +254 789 987 001
                        </p>
                        <p class="align-items-center gap-md">
                            <i class="fa-solid fa-envelope text-primary"></i>
                            contact@JobSeeker.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock body%}
