{% extends 'base.html' %}
{% block title %} Job Seeker | Home {% endblock %}
{% load static %}
{% block body%}
<!--Contact-->
    <section class="bg-secondary text-light p-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-md">
                        <h2 class="text-center mb-4">Contact Info</h2>
                        <ul class="list-group list-group-flush lead">
                            <li class="list-group-item">
                                <span class="fw-bold">Main Location:</span>Westlands,NAIROBI
                            </li>
                            <li class="list-group-item">
                                <span class="fw-bold">Official Email:</span>Neotech156@gmail.com
                            </li>
                            <li class="list-group-item">
                                <span class="fw-bold">Phone numbers:</span>0735413477/0789654312
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </section> -->
{% endblock body%}
