<!--This is the official home page-->
{% extends 'base.html' %}
{% block title %} Job Seeker | Home {% endblock %}
{% load static %}

{% block body%}
<section class="section-start p-5">
    <div class="container text-center">
        <!--<img>-->
        <h1 class="mb-5">Welcome to Job Seeker</h1>
        <p class="mb-3"><h3>Get your Dream Job Today!</h3> <h4>Have you been struggling looking for a job search no more the job seeker got you.<br>Join us today and build your career now.</h4></p>
        <a role="button" class="btn btn-primary" href="{% url 'register' %}">JOIN US</a>
    </div>
</section>

{% endblock body %}