{% extends 'base.html' %} 
{% block title %} Login {% endblock %}

{% block body %}
<div class="container text-center">
    <h2>Login</h2><br><br>
    <form action="{% url 'login' %}" method="POST" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-field mb-3">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>
        <br>
        <span>Are you a system admin?</span><br>
        <a href="{% url 'admin:index' %}?next={% url 'home' %}">Admin Login</a>
        <br>
        <span>Don't have an Account yet?</span><br>
        <a href="{% url 'register' %}">Create Account</a>
        <br><br>
        <a class="btn btn-secondary" href="{% url 'home' %}">Go back Home</a>
    </form>
</div>
{% endblock body %}