{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
<div class="row row-cols-1 row-cols-md-3">
{% for job in jobs %}
<div class="col">
    <div class="card text-center">
        <img src="{% static 'img/01.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">{{ job.title }}</h4>
            <a href="{% url 'job-details' job_id=job.id %}" class="btn btn-primary">View more</a>

            {% if user.user_type == 'applicant' %}
            {% if job.id in already_applied %}
            <small class="d-block text-success mt-2">Already applied</small>
            {% endif %}
            {% endif %}

            {% if user.user_type == 'staff' %}
            <p class="text-muted text-center">Number of applicants here</p>
            {% endif %}
        </div>
    </div>
</div>
{% empty %}
<div class="text-danger text-center p-5">No jobs posted yet!</div>
{% endfor %}
</div>
</div>

{% endblock body %}