{% extends 'base.html' %}
{% block title %}Our Services{% endblock %}
{% load static %}
{% block body%}
<br>
<section class="section-content section-services bg-dark text-light " id="sectionservices">
    <div class="container container-small">
        <h4 class="section-title"><span class="text-info">Our Services</span> </h4>
        <h5>Find Relevant Job</h5>
        <p>We help you take your carrer to the next level by connecting you with different Job opportunities available for you. We will find the most Relevant job  for you.</p><br>
        <h5>Find Relevant Employees</h5>
        <p>We offer hiring opportunities to companys and help them chose the most relevant applicants for their company thus improving the general success of the company in the long run </p>
       
    </div>
</section>

{% endblock body%}